/* Resetowanie marginesów i paddingu, oraz ustawienie box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Ustawienia dla html i body */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/other/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

/* Nagłówek strony */
.header {
    background: rgba(57, 153, 153, 0.85);
    text-align: center;
    padding: 20px;
    color: white;
}

/* Stylizacja tytułu w nagłówku */
.header h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

/* Stylizacja menu */
.menu {
    background-color: rgba(192, 192, 192, 0.9);
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Linki w menu */
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Efekt najechania na linki w menu */
.menu a:hover {
    background-color: #399;
    color: white;
    transform: scale(1.05);
}

/* Aktywny link w menu */
.menu > .active {
    background-color: #399;
    color: white;
}

/* Główna zawartość strony */
.main-content {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1.1em;
    flex-grow: 1;
}

/* Stylizacja obrazu nagrody Oscara */
#oscar-award {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

/* Obrazy w głównej zawartości */
.main-content img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Nagłówki w głównej zawartości */
.main-content h1, .main-content h2 {
    color: #399;
    margin-bottom: 15px;
}

/* Lista punktowana w głównej zawartości */
.main-content ul {
    margin-left: 20px;
    padding-left: 10px;
    list-style-type: square;
}

.main-content ul li {
    margin-bottom: 10px;
}

/* Akapit w głównej zawartości */
.main-content p {
    text-align: justify;
}

/* Przycisk do otwierania menu bocznego */
.sidebar-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

/* Menu boczne */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    color: black;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar h2 {
    color: #000;
    padding-left: 20px;
}

/* Przycisk w menu bocznym */
.sidebar button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

/* Efekt najechania na przycisk w menu bocznym */
.sidebar button:hover {
    background-color: #666;
}

/* Kategoria wyboru koloru */
.color-picker {
    margin: 20px;
}

/* Styl nagłówków w stopce */
.header, .footer {
    transition: background-color 0.5s ease;
}

/* Stopka */
.footer {
    text-align: center;
    padding: 20px;
    background: rgba(57, 153, 153, 0.85);
    color: white;
    font-size: 0.9em;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Formularz */
.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1.1em;
}

/* Etykiety formularza */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #399;
}

/* Pola formularza */
.form-container input[type="text"], 
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Tekstowe pole formularza */
.form-container textarea {
    height: 150px;
    resize: vertical;
}

/* Przycisk wyślij formularza */
.form-container input[type="submit"] {
    background-color: #399;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efekt najechania na przycisk formularza */
.form-container input[type="submit"]:hover {
    background-color: #288;
}

/* Galeria zdjęć */
.gallery {
    padding: 5px;
}

.gallery img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

/* Bloki kolorów */
.color-block {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}
.block1 {
    background-color: red;
}
.block2 {
    background-color: blue;
}
.block3 {
    background-color: green;
}

/* "Easter egg" link */
#easter-egg {
    text-decoration: none;
    color: black;
}
